  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Penthouse Tasklist</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="statistics">Statistics</a></li>
        <li><a href="tasklist">Tasks</a></li>
        <li><a href="players">Players</a></li>
      </ul>
    </div>
  </nav>


<div class="container">
	 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<a class="btn-floating btn-large red">
			<i class="large material-icons">add</i>
		</a>
	</div>
	<div class="section">
	{{#each tasks}} ​
		<div class="row">
			<div class="col s12 m12">
				<div class="card white">
					<div class="card-content">
						<span class="card-titel grey-text text-darken-4 activator">{{title}}<i class="material-icons right">more_vert</i></span>
						<p>Dur: {{duration}}</p>
						<p>Descr: {{description}}</p>
						<p>Points: {{points}}</p>
						<p>Done: {{done}}</p>
						<p>CreatedAt: {{createdAt}}</p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
		</div>
	{{/each}}
    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
  </footer>


  <!--  Scripts-->
      <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>